# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.vs

# Visual Studio Files
Debug
Release
x64
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
ipch
*sdf